@mixin flex-height ($height){
    min-height: $height;
    max-height: $height;
}

@mixin flex-width ($width){
    min-width: $width;
    max-width: $width;
}

@mixin one-to-one-height-width ($height) {
    min-height: $height;
    min-width: $height;
    max-height: $height;
    max-width: $height;
}

* {
    border: 1px solid black;
    padding: 5px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

.pizza-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    min-height: 100%;
    width: 100%;
}

.pizza-side {
    @include flex-height(100%);
    flex-grow: 1;
}

.pizza-preview {
    $pizza-diameter: 70%;
    @include flex-width($pizza-diameter);
    padding-bottom: $pizza-diameter;
    margin: 5px auto;
    border-radius: 100%;
}

.menu-side {
    min-height: 100%;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}

.menu-tabs {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
}

.menu-tab {
    width: 50%;
    text-align: center;
    cursor: pointer;
}

.menu-section {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: center;
}

.menu-section-header {
    text-align: center;
}

.menu-section-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 100%;
}

.sizes-menu>.menu-section-content {
    align-items: center;
}

.crust-size {
    border: 2px solid black;
    border-radius: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    &.personal {
        @include one-to-one-height-width(65px);
    }
    &.small {
        @include one-to-one-height-width(80px);
    }
    &.medium {
        @include one-to-one-height-width(90px);
    }
    &.large {
        @include one-to-one-height-width(100px);
    }
}

.size-text {
    margin: auto;
}

.toppings-menu>.menu-section-content {
    flex-wrap: wrap;
}

.topping {
    @include flex-width(200px);
    display: flex;
    flex-direction: row;
}

.topping-controls {
    display: flex;
    flex-direction: column;
}

.topping-img {
    max-width: 100%;
    border: 2px solid black;
    border-radius: 20px;
    padding: 0;
}

.topping-text {
    text-align: center;
}

.half-or-whole {
    border: 2px solid black;
    background-color: white;
    height: 20px;
    padding: 0;
    margin: 5px;

    &>.active {
        background-color: black;
    }
}

.half-selection-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.left-half-btn {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 10px;
}
.whole-btn {
    border-radius: 100%;
    width: 20px;
}
.right-half-btn {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 10px;
}

.cheese-menu>.menu-section-content {
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

@media only screen and (max-device-width: 480px) {
    .page-content{
         flex-direction: column;
    }
}