@mixin flex-height ($height){
    min-height: $height;
    max-height: $height;
}

@mixin flex-width ($width){
    min-width: $width;
    max-width: $width;
}

* {
    border: 1px solid black;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.page-content {
    display: flex;
    flex-direction: row;
    min-height: 100%;
}

.pizza-side {
    @include flex-height(100%);
    @include flex-width(67%);
}

.pizza-preview {
    $pizza-diameter: 70%;
    @include flex-width($pizza-diameter);
    padding-bottom: $pizza-diameter;
    margin: auto;
    border-radius: 100%;
}

.menu-side {
    min-height: 100%;
    width: 33%;
}

@media only screen and (min-device-width: 480px) {
    .page-content{
         flex-direction: column;
    }
}